<div class="signin-page">
  <div class="signin-container">
    <div class="box">
      <form (ngSubmit)="resetPassword()" class="form-container">
        <div class="auth-toggle">
          <h3 routerLink="/signup">Sign Up</h3>
          <h3 class="active" routerLink="/signin">Sign In</h3>
        </div>
        <p class="intro">
          Once you've entered your new password, click the "Reset Password"
          button to confirm the changes.
        </p>
        <div class="input-container">
          <mat-icon class="icon">lock_open</mat-icon>
          <input
            type="password"
            placeholder="Enter new Password"
            name="email"
            [(ngModel)]="resetPasswordForm.password"
            required
          />
        </div>
        <div class="input-container">
          <mat-icon class="icon">lock</mat-icon>
          <input
            type="password"
            placeholder="Confirm Password"
            name="email"
            [(ngModel)]="resetPasswordForm.confirmPassword"
            required
          />
        </div>

        <button type="submit">Reset Password</button>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div *ngIf="successMessage" class="error-message">
          {{ successMessage }}
        </div>
      </form>
    </div>
  </div>
</div>
