.signin-page {
  height: 100vh;
  width: 100%;
  background-color: #282a3a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 455px;
  background-color: #f3f4f8;
  padding: 55px;
  border-radius: 5px;
}

.input-container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #282a3a;
  background-color: #d2d4da;
  gap: 5px;
  box-sizing: border-box;
  border-radius: 2px;
}

.active {
  background-color: #101223;
  color: #fff;
  font-weight: 400;
}

.icon {
  color: #777986;
  font-size: 22px;
  margin-top: 2px;
}

h3 {
  background-color: #b3b5bd;
  padding: 10px 60px;
  color: #f3f4f8;
  border-radius: 2px;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

.auth-toggle {
  display: flex;
  justify-content: space-between;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

input {
  width: 100%;
  background-color: transparent;
  outline: none;
  padding: 0px 5px;
  border: none;
  color: #777986;
}

input::placeholder {
  color: #777986;
}

button {
  padding: 14px;
  background-color: #101223;
  outline: none;
  color: #f3f4f8;
  border: none;
  cursor: pointer;
  font-weight: 400;
  border-radius: 2px;
  margin-top: 10px;
  font-size: 16px;
}

.intro {
  font-size: 14px;
  color: #777986;
  padding: 10px 0;
}

.forgot-password {
  font-size: 15px;
  color: #777986;
  padding: 10px 0;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
}

.error-message {
  font-size: 15px;
  color: #777986;
  padding: 8px 0 !important;
  background-color: #d2d4da;
  padding: 10px;
  border-radius: 2px;
  text-align: center;
  margin-top: 5px;
}

span {
  color: #101223;
  text-decoration: underline;
  cursor: pointer;
}

.success-message {
  text-align: center;
  font-size: 14px;
  color: #777986;
  margin-top: 10px;
}
