<div class="signin-page">
  <div class="signin-container">
    <div class="box">
      <form (ngSubmit)="forgotPassword()" class="form-container">
        <div class="auth-toggle">
          <h3 routerLink="/signup">Sign Up</h3>
          <h3 class="active" routerLink="/signin">Sign In</h3>
        </div>
        <p class="intro">
          Forgot Your Password? Please enter the email address associated with
          your account below.
        </p>
        <div class="input-container">
          <mat-icon class="icon">alternate_email</mat-icon>
          <input
            type="email"
            placeholder="Enter your Email"
            name="email"
            [(ngModel)]="forgotPasswordForm.email"
            required
          />
        </div>

        <button type="submit">Send Recovery Mail</button>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div *ngIf="successMessage" class="success-message">
          {{ successMessage }}
        </div>
      </form>
    </div>
  </div>
</div>
