.navbar {
  width: 100%;
  height: 55px;

  display: flex;
  padding: 0 100px;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

.col-1 {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon {
  font-size: 18px;
  transform: translateY(4.5px);
  margin-right: -5px;
}

.input-container {
  padding: 6px 10px;
  display: flex;
  width: 290px;
  flex-direction: row;
  align-items: center;
  background-color: #323232;
  gap: 5px;
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 20px;
}

.search-icon {
  font-size: 18px;
  transform: translateY(4px);
  color: #fff;
}

input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: #bebfc7;
}

.col-2 {
  display: flex;
  gap: 8px;
  align-items: center;
}

input::placeholder {
  color: #bebfc7;
}

.logout-btn {
  padding: 10px 50px;
  background-color: #afe804;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: #171717;
  border: none;
  cursor: pointer;
  font-weight: 700;
  border-radius: 2px;
  font-size: 14px;
}

.settings-btn {
  padding: 10px 50px;
  background-color: #323232;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: #bebfc7;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 2px;
  font-size: 14px;
}

.nav {
  font-size: 14px;
  padding: 6px 15px;
  border-radius: 5px;
  color: #bebfc7;
  display: flex;
  gap: 2px;
  align-items: center;
}

.nav:hover {
  background-color: hsl(0, 0%, 20%, 0.5);
  cursor: pointer;
}

.imgdiv {
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgdiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.imgdiv2 {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;

  justify-content: center;
  align-items: center;
}

.imgdiv2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.active {
  background-color: #323232;
}
