.home-container {
  background-color: #f3f4f8;
  max-height: 100vh;
  max-width: 100vw;
}

.home-content {
  display: grid;
  grid-template-columns: 1.65fr 4.75fr;
}

.sidebar {
  background-color: #282a3a;
}

.dashboard {
  margin: 0;
}

.chat-modal {
  width: 100%;
  height: 100vh;
}
