.home-container {
  background-color: #171717;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home-content {
  display: grid;
  padding-left: 100px;
  padding-top: 5px;
  padding-bottom: 25px;
  padding-right: 100px;
  grid-template-columns: 1.5fr 3fr 1.5fr;
  grid-gap: 10px;
}

.sidebar,
.dashboard,
.recent {
  margin: 0;
  padding: 0;
}

.chat-modal {
  width: 100%;
  height: 100vh;
}
