<app-navbar></app-navbar>
<div class="landing-container">
  <div class="section-1">
    <div class="col-1">
      <p>Welcome to <span class="bold">SplitEase</span>.</p>
      <h3>
        Simplify Splitting,<br />
        Strengthen Relationship
      </h3>
      <p class="intro">
        Track expense, settle payment, and stay<br />
        connected with your group in one seamless app.
      </p>
      <div class="buttons">
        <button class="get-started">Get Started for Free!</button>
        <button class="learn-more">
          Learn More <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-2">
      <img class="hero-img" src="images/Banknote-bro.png" alt="hero-img" />
    </div>
  </div>
</div>
