.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: fixed;
  width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #252525;
  padding: 55px;
  color: #bebfc7;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  margin-top: 10px;
}

.input-container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #3c3c3c;
  gap: 5px;
  box-sizing: border-box;
  border-radius: 2px;
}

input {
  width: 100%;
  background-color: transparent;
  outline: none;
  padding: 0px 5px;
  border: none;
  color: #bebfc7;
}
