<div class="chat-modal" *ngIf="modalService.chatModalState$ | async">
  <div class="chat-modal-content">
    <div class="header">
      <div class="user-info">
        <div class="imgdiv">
          <app-avatar
            *ngIf="otherUser"
            [user]="otherUser"
            size="medium"
          ></app-avatar>
        </div>
        <div>
          <p class="name">{{ otherUser?.name }}</p>
          <p class="email">{{ otherUser?.username }}</p>
        </div>
      </div>
      <div class="close-btn">
        <mat-icon (click)="closeChatModal()" class="close-icon">close</mat-icon>
      </div>
    </div>
    <div class="chat-content">
      <div class="messages">
        <div *ngFor="let message of chatMessages" class="message-wrapper">
          <div
            [ngClass]="
              message.sender._id === otherUser?._id
                ? 'message-received'
                : 'message-sent'
            "
          >
            <div class="message-content">
              <p class="message-text">{{ message.content }}</p>
              <span class="message-time">{{
                formatTimestamp(message.timestamp)
              }}</span>
            </div>
          </div>
        </div>
      </div>

      <form (ngSubmit)="onSendMessage()" class="message-input">
        <div class="input-container">
          <mat-icon class="attach-icon"> attach_file</mat-icon>
          <input
            type="text"
            placeholder="Type your message..."
            name="content"
            [(ngModel)]="messageForm.content"
          />
          <button type="submit"><mat-icon class="icon">send</mat-icon></button>
        </div>
      </form>
    </div>
  </div>
</div>
